<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="header(title)" th:text="${title}">Title</title>
	</head>
	<body>
		<div th:fragment="menu">
	        <!-- header header  -->
	        <div class="header">
	            <nav class="navbar top-navbar navbar-expand-md navbar-light">
	                <!-- Logo -->
	                <div class="navbar-header">
	                    <a class="navbar-brand" href="/home">
	                        <!-- Logo icon -->
	                        <b></b>
	                        <!--End Logo icon -->
	                        <!-- Logo text -->
	                        <span>Sistem Informasi Surat</span>
	                    </a>
	                </div>
	                <!-- End Logo -->
	                <div class="navbar-collapse">
	                    <!-- toggle and nav items -->
	                    <ul class="navbar-nav mr-auto mt-md-0">
	                    </ul>
	                    <!-- User profile and search -->
	                    <ul class="navbar-nav my-lg-0">
	                        <!-- Profile -->
	                        <li class="nav-item dropdown">
	                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                            <h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login as</h2>
	                            </a>
	                            <!-- <div class="dropdown-menu dropdown-menu-right animated zoomIn">
	                                <ul class="dropdown-user">
	                                    <li><a href="/login"><i class="fa fa-power-off"></i> Logout</a></li>
	                                </ul>
	                            </div> -->
	                        </li>
	                    </ul>
	                </div>
	            </nav>
	        </div>
	        <!-- End header header -->
	        <!-- Left Sidebar  -->
	        <div class="left-sidebar">
	            <!-- Sidebar scroll-->
	            <div class="scroll-sidebar">
	                <!-- Sidebar navigation-->
	                <nav class="sidebar-nav">
	                    <ul id="sidebarnav">
	                        <li> <a href="/home" aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu">Beranda</span></a>
	                        </li>
	                        <li> <a th:if ="${#httpServletRequest.isUserInRole('MAHASISWA')}" href="/pengajuan/riwayat" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Daftar Surat</span></a>
	                        </li>
	                        <li> <a th:if ="${#httpServletRequest.isUserInRole('DOSEN') || #httpServletRequest.isUserInRole('STAF')}" href="/pengajuan/viewall" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Daftar Surat</span></a>
	                        </li>
	                        <li> <a th:if ="${#httpServletRequest.isUserInRole('MAHASISWA')}" href="/pengajuan/tambah" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Ajukan Surat</span></a>
	                        </li>
	                        <li>
	                        <form th:action="@{/logout}" method="post">
							<input type="submit" value="Sign Out"/>
							</form>
	                        </li>
	                    </ul>
	                </nav>
	                <!-- End Sidebar navigation -->
	            </div>
	            <!-- End Sidebar scroll-->
	        </div>
	        <!-- End Left Sidebar  -->
	      </div>
		<div th:fragment="inform">
		<footer class="footer"> © 2018 All rights reserved. SISURAT by TA_3</a></footer>
            </div>
	</body>
</html>  