<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pengajuan Permohononan Surat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://eonasdan.github.io/bootstrap-datetimepicker/css/prettify-1.0.css" rel="stylesheet">
	<script src="https://eonasdan.github.io/bootstrap-datetimepicker/js/base.js"></script>
	<link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
</head>

<body>
	<div class="row col-6" th:replace = "fragments/fragment :: menu" ></div>
	<h1 class="page-header">Form Pengajuan Surat</h1>
	<form action="/pengajuan/tambah/submit" method="get">
	   	<div class="row col-6" style="display: block">
	   		<div class = "col-2">
	   			<label for="jenis_surat">Jenis Surat</label>
	   		</div>
	   		<div class = "col-4">
				<select class="form-control" required="required" id="id_jenis" name="jenis_surat" onchange='show()'>
					<option disabled="disabled" selected="selected">--Pilih Jenis Surat--</option>
				    <option th:each="jenis : ${jenis_surat}" th:value="${jenis.id}" th:text="${jenis.nama}"></option>
			    </select>
		    </div>
	    </div>
	    <br>
	    <div class="row col-6" style="display: block">
	    	<div class = "col-2">
		    	<label for="keterangan">Keterangan</label>
		    </div>
		    <div class = "col-6">
				<input class="form-control" type="text" name="keterangan" />
			</div>	
		</div>
		<script type = "text/javascript">
			function show(){
				if (document.getElementById('id_jenis').value=="1" ||document.getElementById('id_jenis').value=="2" ) {
			        document.getElementById('alasan_izin').style.display = 'block';
			        document.getElementById('tanggal').style.display = 'block';
			        document.getElementById('matkul_terkait').style.display = 'block';
			    } else {
			    	document.getElementById('alasan_izin').style.display = 'none';
			        document.getElementById('tanggal').style.display = 'none';
			        document.getElementById('matkul_terkait').style.display = 'none';
			    }
			}
		</script>
		<br>
		<div class="row col-6" id="alasan_izin" style="display: none">
			<div class="col-2">
				<label for="alasan_izin">Alasan Izin</label>
			</div>
			<div class="col-4">	
				<input class="form-control" type="text" name="alasan_izin" />
			</div>
		</div>
		<br>
		<div class="row col-6" id="tanggal" style="display: none">
			<div class="col-2">
				<label for="tanggal_mulai_izin">Tanggal Izin</label>
			</div>
			<div class="col-4">
		        <div class="form-group">
		            <div class="input-group date" id="datetimepicker1">
		                <input type="text" class="form-control" name="tanggal_mulai_izin">
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
				</div>
			</div>
			<div class="col-2">
				<label>s/d</label>
			</div>
			<div class="col-4">	
		        <div class="form-group">
		            <div class="input-group date" id="datetimepicker2">
		                <input type="text" class="form-control" name="tanggal_selesai_izin">
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
			</div>	
	        <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker1').datetimepicker({format: 'DD/MM/YYYY'});
	                $('#datetimepicker2').datetimepicker({format: 'DD/MM/YYYY'});
	            });
	        </script>
		</div>
		<br>
		<div class="row col-6" id = "matkul_terkait" style="display: none">	
			<div class="col-2">
				<label for="matkul_terkait">Matakuliah Terkait</label>
			</div>
			<div class="col-4">	
				<select class="form-control" required="required" id="id_matkul_terkait" name="matkul">
				<option disabled="disabled" selected="selected">--Pilih Matakuliah Terkait--</option>
			    <option th:each="matkul : ${list_matkul}" th:value="${matkul.kode_matkul}" th:text="${matkul.nama_matkul}"></option>
			    </select>
		    </div>
		</div>
		<br>
		<div class="row col-6">    
		    <div class="col-4">
				<button type="submit" class="btn btn-warning">Cari</button>
			</div>
		</div>
		<div th:replace = "fragments/fragment :: footer" ></div>
	</form>
</body>
</html>

