<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>SI- Surat</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
		<div th:replace = "fragments/fragment :: menu" ></div>
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Daftar Surat</h3> </div>
                <div class="col-md-7 align-self-center">
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
				<!-- /# column -->
                        <div class="card">
                            <div class="card-title">
                                <h4>Pencarian Berdasarkan</h4>
                            </div>
                            <script>
	                            function show(){
									if (document.getElementById('filterBy1').checked) {
										$("#jenis_form").attr('required', 'required');
										document.getElementById('jenis').style.display = 'block';
								        document.getElementById('tanggal').style.display = 'none';
								        document.getElementById('status').style.display = 'none';
								        document.getElementById('jenisButton').style.display = 'block';
								        document.getElementById('tanggalButton').style.display = 'none';
								        document.getElementById('statusButton').style.display = 'none';
								    } else if(document.getElementById('filterBy2').checked){
								    	$("#tanggal_mulai_izin_form").attr('required', 'required');
								    	$("#tanggal_selesai_izin_form").attr('required', 'required');
								    	document.getElementById('tanggal').style.display = 'block';
								        document.getElementById('jenis').style.display = 'none';
								        document.getElementById('status').style.display = 'none';
								        document.getElementById('jenisButton').style.display = 'none';
								        document.getElementById('tanggalButton').style.display = 'block';
								        document.getElementById('statusButton').style.display = 'none';
								    } else if(document.getElementById('filterBy3').checked){
								    	$("#status_form").attr('required', 'required');
								        document.getElementById('status').style.display = 'block';
								        document.getElementById('jenis').style.display = 'none';
								        document.getElementById('tanggal').style.display = 'none';
								        document.getElementById('jenisButton').style.display = 'none';
								        document.getElementById('tanggalButton').style.display = 'none';
								        document.getElementById('statusButton').style.display = 'block';
								    }else {
								        document.getElementById('jenis').style.display = 'none';
								        document.getElementById('tanggal').style.display = 'none';
								        document.getElementById('status').style.display = 'none';
								        document.getElementById('jenisButton').style.display = 'block';
								        document.getElementById('tanggalButton').style.display = 'none';
								        document.getElementById('statusButton').style.display = 'none';
								    }
								function DateCheck()
									{
									  var StartDate= document.getElementById('tanggal_mulai_izin_form').value;
									  var EndDate= document.getElementById('tanggal_selesai_izin_form').value;
									  var eDate = new Date(EndDate);
									  var sDate = new Date(StartDate);
									  if(StartDate!= '' && StartDate!= '' && sDate> eDate) {
									    alert("tanggal mulai harus sebelum tanggal selesai");
									    return false;
									    }
									}	
								}
	                            </script>
                            <form name = "formSearch" method="get" th:object="${pengajuan_surat}">
	                            <div class="card-body">
	                                <div class="table-responsive">
	                                    <table class="table table-bordered">
	                                        <tbody>
	                                            <tr>
	                                            	<th>
														<div class="row col-md-10">
															<div class="col-md-5">
																<input type="radio" id="filterBy1" value="1" name="filterBy" checked = "checked" onclick='show()'>Jenis Surat</input>
																<input type="radio" id="filterBy2" value="2" name="filterBy" onclick='show()'>Tanggal Pengajuan</input>
																<input type="radio" id="filterBy3" value="3" name="filterBy" onclick='show()'>Status</input>
															</div>
														</div>	
													</th>
	                                            </tr>
	                                            <tr id="jenis">
	                                                <th>
														<div class="row col-md-10">
															<select class="form-control" id="jenis_form" th:field="*{id_jenis_surat}" name="id_jenis_surat">
																<option disabled="disabled" selected="selected" value="0">--Pilih Jenis Surat--</option>
															    <option th:each="jenis : ${jenis_surat}" th:value="${jenis.id}" th:text="${jenis.nama}"></option>
														    </select>
														    </div>
													</th>
	                                            </tr>
	                                            <!-- <tr id="tanggal" style="display: none">
													<th>
													
														<div class="row col-md-10">
														<div class="form-group row">
		                                                    <label class="control-label text-right col-md-3" for="tanggal_mulai_izin">Tanggal Izin</label>
		                                                    <div class="col-md-9">
		                                                        <input type="date" class="form-control input-default "  th:field="*{tanggal_mulai_izin}" onchange='DateCheck()'  id="tanggal_mulai_izin_form" name="tanggal_mulai_izin" />
		                                                    </div>
															/span
															<div class="form-group row">
			                                                    <label class="control-label text-center col-xs-2" for="tanggal_selesai_izin">s/d</label>
			                                                    <div class="col-md-9">
			                                                        <input type="date" class="form-control input-default " th:field="*{tanggal_selesai_izin}" onchange='DateCheck()' id="tanggal_selesai_izin_form" name="tanggal_selesai_izin"/>
			                                                    </div>
			                                                </div>
														</div>
														</div>
	                                          		 /span
													</th>
	                                            </tr> -->
	                                            <tr id="status" style="display: none">
	                                                <th>
	                                                	<div class="row col-md-10">
														<div class="form-group row">
															<div class="col-md-9">
																<select class="form-control" id="id_status_surat" th:field="*{id_status_surat}" name="id_status_surat">
																	<option disabled="disabled" selected="selected" value="0">--Status Surat--</option>
																    <option th:each="status : ${status_surat}" th:value="${status.id}" th:text="${status.nama}"></option>
															    </select>
															</div>
														</div>
														</div>
													</th>
	                                            </tr>
												<tr>
	                                                <th th:if ="${#httpServletRequest.isUserInRole('DOSEN') || #httpServletRequest.isUserInRole('STAF')}">
	                                                    <button style="display: block" class="btn btn-info" id="jenisButton" onclick="return OnJenisViewButton()"> <i class="fa fa-search"></i> Cari</button>
													    <button style="display: none" class="btn btn-info" id="tanggalButton" onclick="return OnTanggalViewButton()"> <i class="fa fa-search"></i> Cari</button>
													    <button style="display: none" class="btn btn-info" id="statusButton" onclick="return OnStatusViewButton()"> <i class="fa fa-search"></i> Cari</button>
													</th>
													<th th:if ="${#httpServletRequest.isUserInRole('MAHASISWA')}">    
													    <button style="display: block" class="btn btn-info" id="jenisButton" onclick="return OnJenisRiwayatButton()"> <i class="fa fa-search"></i> Cari</button>
													    <button style="display: none" class="btn btn-info" id="tanggalButton" onclick="return OnTanggalRiwayatButton()"> <i class="fa fa-search"></i> Cari</button>
													    <button style="display: none" class="btn btn-info" id="statusButton" onclick="return OnStatusRiwayatButton()"> <i class="fa fa-search"></i> Cari</button>
													</th>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
                            </form>
                        </div>
                        <script>
	                        
	                        
	                        function OnJenisViewButton(){
	                        	document.formSearch.action="filterByJenis";
	                        	document.formSearch.submit;
	                        }
	                        function OnTanggalViewButton(){
	                        	document.formSearch.action="filterByDate";
	                        	document.formSearch.submit;
	                        }
	                        function OnStatusViewButton(){
	                        	document.formSearch.action="filterByStatus";
	                        	document.formSearch.submit;
	                        }
	                        
	                        function OnJenisRiwayatButton(){
	                        	document.formSearch.action="riwayat/filterByJenis";
	                        	document.formSearch.submit;
	                        }
	                        function OnTanggalRiwayatButton(){
	                        	document.formSearch.action="riwayat/filterByDate";
	                        	document.formSearch.submit;
	                        }
	                        function OnStatusRiwayatButton(){
	                        	document.formSearch.action="riwayat/filterByStatus";
	                        	document.formSearch.submit;
	                        }	                            

                        </script>
                    <!-- /# column -->
					<div class="card">
                      <div class="card-body">
                          <div class="table-responsive m-t-40">
                               <table id="myTable" class="table table-bordered table-striped">
                                  <thead>
                                      <tr>
                                        <th>Nomor Surat</th>
										<th>Jenis Surat</th>
										<th>Nama Mahasiswa</th>
										<th>NPM Mahasiswa</th>
										<th>Tanggal Permohonan</th>
										<th>Nama Pegawai</th>
										<th>Status Surat</th>
										<th>Operasi</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr th:each="pengajuan_surat,iterationStatus:${list_pengajuan_surat}">
                                          <td th:text="${pengajuan_surat.no_surat}"></td>
                                          <td th:text="${pengajuan_surat.jenis_surat.nama}"></td>
                                          <td th:text="${pengajuan_surat.pengaju.nama}"></td>
                                          <td th:text="${pengajuan_surat.pengaju.npm}"></td>
                                          <td th:text="${pengajuan_surat.tanggal_mohon}"></td>
                                          <td th:text="${pengajuan_surat.pegawai==null}?'-':(${pengajuan_surat.pegawai.nama})"></td>
                                          <td th:text="${pengajuan_surat.status_surat.nama}"></td>
                                          <td><a th:href="'/pengajuan/riwayat/'+${pengajuan_surat.id}"><button type="submit" class="btn btn-info"> <i class="fa fa-eye"></i> Detail</button></a></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                   </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <div th:replace = "fragments/fragment :: inform" ></div>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/lib/morris-chart/morris.js"></script>
    <script src="/js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/pignose.init.js"></script>

    <script src="/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- scripit init-->

    <script src="/js/custom.min.js"></script>
	    <script src="/js/lib/datatables/datatables.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/js/lib/datatables/datatables-init.js"></script>

</body>

</html>